
<!--<body>-->
<!--<div class="row">-->
<!--    <a href="/">Главная</a>-->
<!--</div>-->
<!--<h1>Заказы</h1>-->
<!--<form id="add-form" th:action="@{/order}" th:method="post">-->
<!--    <div class="row">-->
<!--        <label>Телефон:&nbsp;</label>-->
<!--        <input type="tel" th:value="${phone}" name="phone"></input>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--        <button type="submit">Заказать</button>-->
<!--    </div>-->
<!--</form>-->

<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Дата заказа</th>-->
<!--        <th>Телефон</th>-->
<!--        <th>Кол-во животных</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody th:each="order : ${orders}">-->
<!--    <tr>-->
<!--        <td th:text="${order.id}"></td>-->
<!--        <td th:text="${order.date.toLocaleString()}"></td>-->
<!--        <td th:text="${order.phone}"></td>-->
<!--        <td th:text="${order.animals.size()}">></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--<br>-->
<!--<br>-->


<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
    <title>Adamant Trade</title>
</head>
<!--    ссылка на адаптер бустрап-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
<!--    черная шапка main-->
<body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header th:insert="blocks/header :: header"></header>
    <br><br>
    <h3>Оформление заказа</h3>
    <br>

    <div>
    <table class="table table-dark table-striped text-bg-primary p-3" >
        <form action="/order" method="POST" th:object="${order}">

            <thead>
        <tr>
            <th scope="col">Дата заказа</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Email</th>
            <th scope="col">Адрес</th>
            <th scope="col">Телефон</th>
            <th scope="col">Товары</th>
        </tr>
            </thead>
            <div>
            <tbody>

        <tr>
            <td th:text="${order.date.toLocaleString()}"></td>
            <td><input type="text" class="form-control" name="order_name" placeholder="Имя" required></td>
            <td><input type="text" class="form-control" name="order_lastname" placeholder="Фамилия" required></td>
            <td><input type="email" class="form-control" name="order_email" placeholder="name@example.com" required></td>
            <td><input type="text" class="form-control" name="order_address" placeholder="Адрес" required></td>
            <td><input type="tel" class="form-control" name="order_phone" placeholder="Телефон" required></td>
            <td><div th:each="elem : ${ordersToBuy}" ><p th:text="${elem.name}"></p></div>
            </td>

        </tr>

                    </tbody>
                <div>
                    <button type="submit" class="btn btn-lg btn-outline-success">Совершить покупку</button>
                </div>
            </div>

        </form>

    </table>

    </div>

    <footer th:insert="blocks/footer :: footer"></footer>
</div>

</body>

</html>